<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeautyGallery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1B164D91B7B4D93003A3D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1B164ED1B7B4D93003A3D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1B164F81B7B4D93003A3D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
